@import "../sass/h5bp";
@import "./_colours";
@import "./_fonts";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

// Hide the mySociety logo from the nav menu
.nav-menu--mysoc {
  display: none;
}

// Put the BCC logo in place, and reveal the 'bristol.gov.uk' text alongside it
#site-logo {
  background: url(/cobrands/bristol/bcclogo.png) 0 0 no-repeat;
  background-size: 37px;
  text-indent: 47px;
  line-height: 37px;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Thesans-Semi-Bold", "Helvetica Neue", Helvetica, sans-serif;
}

// Hide the BCC nav on mobile
.container--bcc {
  display: none;
}
