  <a href="/" id="site-logo">bristol.gov.uk</a>
  <a href="/" id="report-cta" title="[%- loc('Report a problem') -%]">[%- loc('Report') -%]</a>
</div> <!-- .container -->

<div class="container container--bcc">
  <ul class="menubar cf" aria-label="Site Pages" role="menubar">
    <li class="lfr-nav-item" id="layout_1" role="presentation">
      <a aria-labelledby="layout_1" class="selected" href="//bristol.gov.uk/residents" role="menuitem"><span>For residents</span></a>
    </li>
    <li class="lfr-nav-item" id="layout_947" role="presentation">
      <a aria-labelledby="layout_947" class="" href="//bristol.gov.uk/business" role="menuitem"><span>For business</span></a>
    </li>
    <li class="lfr-nav-item" id="layout_1090" role="presentation">
      <a aria-labelledby="layout_1090" class="" href="//bristol.gov.uk/council-and-mayor" role="menuitem"><span>Council and Mayor</span></a>
    </li>
  </ul>
</div>

<div class="container">
