@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

// Hide mySociety logo
.nav-menu--mysoc {
  display: none;
}

#site-header {
  border-top: none;
  background: $eh_blue;
}

#site-logo {
  background: url(img/toplogo.gif);
  background-size: 51px 48px;
  height: 48px;
  width: 51px;
  top: 0px;
  left: 2px;
}

h1, h2, h3, h4 {
  color: $eh_green;
}