@import "_colours";
@import "../sass/layout";

#site-header {
  // default layout.scss sets this, so we need it here as well as base.scss
  background: $eh_blue;
  background-image: url(img/header_mid.jpg);
  background-repeat: repeat-x;
}

// Get rid of the top border
.nav-wrapper .nav-wrapper-2 {
  border-top: none;
}

body.frontpage {
  $logo-height: 90px;
  $nav-height: 36px;

  #site-header {

    height: $logo-height + $nav-height;

    .container {
      height: auto;
    }

    .container:first-child {
      height: $logo-height;
    }

    .header__eh_nav {
      display: block;
      background-color: $eh_green;
      height: $nav-height;
      border-top: solid 1px lighten($eh_green, 25%);
      border-bottom: solid 1px darken($eh_green, 25%);

      ul, span {
        font-size: 1.2em;
        line-height: $nav-height;
        color: white;
      }

      ul {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin: 0;
          padding: 0 0.25em;

          a {
            color: white;
          }
        }
      }
    }
  }

  #site-logo {
    $img-height: 184px;
    top: $logo-height - $img-height;
    width: 399px;
    height: $img-height;
    background-image: url(img/toplogo.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: $eh_blue;
  }
}

#front-main {
  background-color: #f6f6f6;
}

.content, #front-main {
  color: $eh_dark_grey;
}

body.mappage {
  .nav-wrapper .nav-wrapper-2 {
    background-color: $eh_blue;
    background-image: url(img/header_mid.jpg);
    background-repeat: repeat-x;
    background-position: top;
  }

  #site-logo {
    top: 8px;
  }
}


footer ul {
  margin-bottom: 0.5em;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      border-right: solid 1px $eh_dark_grey;
    }
    &:last-child:after {
      border-right: none;
    }

    a {
      padding: 0 0.5em 0 0.25em;
    }
  }
}